
* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f6f8fc;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.content {
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
  background-color: #fff;
  box-sizing: border-box;
}


@media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}


.content.blur {
  filter: blur(4px) saturate(.95);
  pointer-events: none;
  user-select: none;
}
